.botongn {
	padding: 10px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	background-color: $background-color_8;
	color: $color_4;
	font-weight: 700;
	&:hover {
		background-color: $background-color_9;
	}
}
.botonverde {
	padding: 10px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	background-color: $background-color_10;
	color: $color_3;
	font-weight: 700;
	width: 100%;
	&:hover {
		background-color: $background-color_11;
	}
}
.boton-buscador {
	padding: 10px;
	border: none;
	border-radius: 0px 5px 5px 0px;
	font-size: 16px;
	background-color: $background-color_4;
	color: $color_3;
	&:hover {
		background-color: $background-color_5;
	}
}
.botonlog {
	padding: 10px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	background-color: $background-color_6;
	color: $color_3;
	font-weight: 700;
	&:hover {
		background-color: $background-color_7;
	}
}
.botonreg {
	padding: 10px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	background-color: $background-color_8;
	color: $color_4;
	font-weight: 700;
	&:hover {
		background-color: $background-color_9;
	}
}
