
// Cards
.card-cart {
	display: flex;
	justify-content: space-between;
	background-color: $background-color_13;
	padding: 10px;
	border-radius: 7px;
	align-items: center;
}
.card-eventos {
	display: flex;
	justify-content: space-between;
	background-color: $background-color_8;
	padding: 10px;
	border-radius: 7px;
	flex-direction: column;
	flex-wrap: wrap;
	width: 270px;
	height: auto;
	margin: 10px;
	box-shadow: 0px 0px 10px 10px rgba(2, 2, 2, 0.50);
	&:hover {
		transform: scale(1.1);
		transition: 0.4s;
		box-shadow: 0px 0px 10px 10px rgba(2, 2, 2, 0.75);
	}
}
