//  botones

.boton {
    background-color: $color_blanco;
    color: $color_negro;
	padding: 10px;
    border: none;
	border-radius: 5px;
	font-size: 16px;    
	font-weight: 700;
	&:hover {
		box-shadow: 0px 0px 0px 1000px rgba(0,0,0,0.2) inset;
	}
}



.boton-buscador {
	@extend .boton;
	border-radius: 0px 5px 5px 0px;    
	font-weight: 400;
	background-color: $color_celeste;
	color: $color_blanco;
}
.botonverde {
	@extend .boton;
	background-color: $color_verde;
	color: $color_blanco;
}
.botonlog {
	@extend .boton;
	background-color: $color-login;
	color: $color_blanco;
}
.botonreg {
	@extend .boton;
	background-color: $color_blanco;
}
