.fondoblanco {
	background-color: $background-color_8;
}
.fondonoticia {
	background-color: $background-color_14;
}
.fondoplomo {
	background-color: $background-color_15;
}
.fondoverde {
	background-color: $background-color_10;
}
