.iconverde {
	color: $color_7;
}
.iconazul {
	color: $color_8;
}
.iconnegro {
	color: $color_9;
}
.icon24 {
	font-size: 24px;
}
.icon100 {
	font-size: 100px;
}
.menu-1200 {
	height: 48px;
	width: 48px;
	display: none;
}