.iconverde {
	color: $color_verde;
}
.iconazul {
	color: $color_celeste;
}
.iconnegro {
	color: $color_plomo;
}
.icon22 {
	font-size: 22px;
}
.icon24 {
	font-size: 24px;
}
.icon36 {
	font-size: 36px;
}
.icon48 {
	font-size: 48px;
}
.icon100 {
	font-size: 100px;
}
.menu-hb-48 {
	height: 48px;
	width: 48px;
}