.iconverde {
	color: $color_verde;
}
.iconazul {
	color: $color_celeste;
}
.iconnegro {
	color: $color_plomo;
}
.icon24 {
	font-size: 24px;
}
.icon100 {
	font-size: 100px;
}
.menu-1200 {
	height: 48px;
	width: 48px;
	display: none;
}