.imgp100 {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.imgp100YT {
	height: 422px;
	width: 100%;
	object-fit: cover;
}
.imgnoticia {
	border-radius: 0 0 10px 10px;
	height: 100px;
	width: 300px;
	object-fit: cover;
}
.contimgindex {
	width: 100%;
	height: 220px;
	object-fit: cover;
}
.imgcard {
	border-radius: 5px;
	width: 250px;
	height: 250px;
	object-fit: cover;
}