$colores: (
    color-negro: black,
    color-plomo1: rgb(51, 51, 51),
    color-plomo2: rgba(128, 128, 128, 0.5),    
    color-plomo3: #8f8f8f,
    color-plomo4: gray,
    color-blanco: white,
    color-rojo: red,
    color-verde: #198754,
    color-azul: #006eff,
);

$fuentes: (
    fuente-1: Roboto,
    fuente-2: Courier,
);


.texto-de-prueva {
    color: map-get($colores , color-rojo);
    font-family: map-get($fuentes , fuente-1)
}