.wid1500 {
	width: 1500px;
}
.wid1200 {
	width: 1200px;
}
.wid800 {
	width: 800px;
}
.wid400 {
	width: 400px;
}
.widp100 {
	width: 100%;
}
.widp80 {
	width: 80%;
}
.widp90 {
	width: 90%;
}
.heip100 {
	height: 100%;
}
.heia {
	height: auto;
}
.hei400 {
	height: 400px;
}