/* Ejemplo de nesting no esta siendo importado en css */

header {
    nav {
        ul {
            text-decoration: none;
            font-size: 700px;
        }
    
        li {
            display: inline-block;
            font-size: 500px;
        }
    
        div {
            p {
                color: black;
                background-color: aqua;
            }
        }
    }
}