// Fuentes
$fuente-poppins: 'Poppins', sans-serif;

// Colores
$color_negro: black;
$color_plomo: #8f8f8f;
$color_blanco: white;
$color_rojo: red;
$color_verde: #198754;
$color_celeste: #006eff;

$color-header: #03080f;
$color_body: #0B1628;
$color-footer: #2c2c2c;

$color-login: #103e67;
$color-plomo-bg: #e2e2e2;
$color-celeste-nt: #95b3e0;

